/* ExpertiseList.css */
.expertiseContainer {
    margin-bottom: 10px;
    width: 300px;
    float: right;
}

.expertiseListContainer {
    margin-bottom: 5px;
    border: 5px solid #ccc;
    height: 350px;
    border-radius: 20px;
    /* Rounded edges */
    overflow-y: scroll;
    /* Ensures content is scrollable if it exceeds the container height */
}

.expertiseList {
    list-style-type: none;
    margin: 0;
    /* Resets default margin */
    padding: 0;
    /* Resets default padding */
}

.expertiseItem, .expertiseItemSelected {
    cursor: pointer;
    padding: 2px;
    font-size: 18px; /* Makes text larger */
    transition: background-color 0.3s;
    /* Smooth transition for background color */
}

.expertiseItem:hover {
    background-color: #f0f0f0;
    /* Shade item on hover */
}

.expertiseItemSelected {
    background-color: #90ee90;
    /* Light green background for selected items */
}